.content {
    display: flex;
}

.content > div {
    flex: 0 0 50%;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

button {
    cursor: pointer;
}

.calling-select {
    background-color: yellow;
}

button {
    width: 5rem;
    height: 5rem;
}

.calling-button {
    background-color: yellow;
    border-radius: 50%;
}

.target-button {
    background-color: pink;
}

.target-select {
    background-color: pink;
}

.message-service {
    color: darkorange;
}

.message-warning {
    color: red;
}

.message-broken {
    color: red;
}

.message-passenger {
    color: darkmagenta;
}